.page-1{
    height: 90%;
}

.left-part {
    background: #3b4c9b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.left-part .target span {
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    color: white;
}

.left-part .action span {
    color: white;
    font-size: 20px;
}

.left-part .learn-now-btn {
    width: 166px;
    height: 68px;
    background-color: #3CCFCF;
}

.left-part .role-check a {
    font-size: 20px;
    color: #3CCFCF !important;
    font-weight: 500;
}

.right-part {
    background: rgb(66, 87, 178);
}

.right-part .slide {
    width: 100%;
    color: #fff;
    text-align: center;
    background: #364d79;
}

.right-part p.target-student{
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.slick-dots{
    opacity: 0;
}

.floating-text-div{
    height: 30px;
}

.floating-text{
    color:#fcfc4b;
    font-size: 18px;
    text-align: center;
}

.page-2 {
    background-color: #fff;
}


@media only screen and (max-width: 600px) {
    .left-part .target span {
        font-size: 30px;
    }
    
    .left-part .action span{
        font-size: 16px;
    }

    .left-part .role-check a {
        font-size: 17px;
    }

    .right-part p.target-student{
        font-size: 18px;
    }

    .floating-text{
        font-size: 16px;
    }
}