.nav-bar .MuiPaper-root{
    width: 250px !important;
}

.nav-bar .MuiBackdrop-root{
    display: none !important;
}

.nav-bar .MuiDrawer-paper{
    top:80px;
}

.nav-bar{
    width: 250px !important;
}