.container {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}

.suggested-folder .title {
    font-size: 25px;
    font-weight: 700;
}

.suggested-folder .banner {
    font-size: 17px;
}

.suggested-folder .change-mode {
    width: 200px;
    height: 50px;
}

.start-icon {
    font-size: 150px;
    background: linear-gradient(to top, #40e0d0, #ff8c00, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 40px 10px;
}
